@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">
        Welcome to Student Portal
        <br>
        ....Trying to implement as many functions as I can....
    </h1>
</div>